@charset "UTF-8";

* { margin: 0; padding: 0; }

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,img,input,textarea,p,blockquote,th,td { 
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,q:after {
	content: '';
}
abbr,acronym { border: 0;
}
body {
  max-width: 900px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 0.5em auto;
}
a, a:visited {
  text-decoration: none;
  color: #55F;
  word-wrap: break-word;
}
a:active, a:hover {
  color: #11F;
  border-bottom: 1px solid #000;
}

#header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #000;
}
#header p#title {
  font-size: 3.75em;
  letter-spacing: 0.4em;
  margin-bottom: 0.2em;
  text-transform: lowercase;
  overflow-wrap: break-word;
}
#header p#nav {
  font-size: 1.25em;
}
#header p#nav a {
  display: inline-block;
  margin: 0 1.5em 0.2em 1.5em;
  text-transform: lowercase;
  border: none;
}

#footer {
  margin-top: 2em;
  border-top: 1px solid #000;
  text-align: center;
  font-size: 0.75em;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.content h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}

.content h2 {
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px dotted #000;
}
.content h3 {
  font-size: 1.2em;
}
.content h4 {
  font-size: 1.1em;
}
.content h5 {
  font-size: 1em;
}
.content h6 {
  font-size: 0.9em;
}
.content h2, .content h3, .content h4, .content h5, .content h6 {
  margin-bottom: 0.75em;
  font-weight: bold;
}

.content table {
  width: 100%;
}
.content thead {
  background-color: #000;
  color: #FFF;
}
.content thead th {
  font-weight: bold;
  text-align: center;
}
.content tbody tr:hover {
  background-color: #DDD;
}
.content tbody a {
  width: 100%;
  display: inline-block;
  border: none;
}
.content ul {
  list-style-type: disc;
}
.content ol {
  list-style-type: decimal;
}
.content ol, .content ul {
  padding-left: 1.25em;
}
.content li {
  line-height: 1.25em;
}
.content p, .content ul, .content ol, .content code {
  margin-bottom: 1em;
}
.content em {
  font-style: italic;
}
.content strong {
  font-weight: bold;
}
.content code {
  display: block;
  font-size: 0.85em;
  padding-left: 2em;
  overflow: scroll;
}
.content p code {
  display: inline;
  padding-left: 0;
  border: 1px dashed #AAA;
  background-color: #EEE;
}
.content img {
  display: block;
  margin: 0.5em auto;
  max-width: 100%;
}
